In [207]:
import pandas as pd

In [208]:
x = pd.read_csv(r"C:\Users\TomCortenRiskQuest\Documents\haven_question\code\avent_of_cod\aoc_data\advent_of_code\input\input4.txt", header = None)

In [209]:
x[0] = x[0].str.split('-')
x[1] = x[1].str.split('-')

x[0] = x[0].apply(lambda x: [int(el) for el in x])
x[1] = x[1].apply(lambda x: [int(el) for el in x])

In [183]:
x['1 contains 0'] = x.apply(lambda x: (x[0][0] >= x[1][0] and x[0][1] <= x[1][1]) or ( x[0][0] <= x[1][0] and x[0][1] >= x[1][1]), axis=1)

In [189]:
x

            0         1
0    [33, 62]  [26, 62]
1    [49, 89]  [49, 88]
2      [2, 4]   [3, 92]
3     [7, 98]   [7, 98]
4     [6, 74]   [6, 73]
..        ...       ...
995   [1, 98]   [2, 17]
996  [42, 79]   [9, 80]
997  [57, 64]  [38, 59]
998  [31, 37]  [37, 72]
999  [21, 99]   [1, 25]

[1000 rows x 2 columns]

In [212]:
x['1 contains 0'] = x.apply(lambda x: len(set(range(x[0][0], x[0][1]+1)) & set(range(x[1][0], x[1][1]+1)))!=0, axis=1)

In [214]:
x[x['1 contains 0']==True].shape

(911, 3)

In [213]:
x

            0         1  1 contains 0
0    [33, 62]  [26, 62]          True
1    [49, 89]  [49, 88]          True
2      [2, 4]   [3, 92]          True
3     [7, 98]   [7, 98]          True
4     [6, 74]   [6, 73]          True
..        ...       ...           ...
995   [1, 98]   [2, 17]          True
996  [42, 79]   [9, 80]          True
997  [57, 64]  [38, 59]          True
998  [31, 37]  [37, 72]          True
999  [21, 99]   [1, 25]          True

[1000 rows x 3 columns]