In [1]:
import pandas as pd

In [31]:
x = pd.read_csv(r"C:\Users\TomCortenRiskQuest\Documents\haven_question\code\avent_of_cod\aoc_data\advent_of_code\input\input4.txt", header = None)

In [32]:
x[0] = x[0].str.split('-')
x[1] = x[1].str.split('-')

In [33]:
x['0 contains 1'] = x.apply(lambda x: x[0][0] >= x[1][0] and x[0][1] <= x[1][1], axis=1)
x['1 contains 0'] = x.apply(lambda x: x[0][0] <= x[1][0] and x[0][1] >= x[1][1], axis=1)

In [40]:
(x['0 contains 1'] + x['1 contains 0'])

0       True
1       True
2      False
3       True
4       True
       ...
995     True
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [41]:
x

            0         1  0 contains 1  1 contains 0
0    [33, 62]  [26, 62]          True         False
1    [49, 89]  [49, 88]         False          True
2      [2, 4]   [3, 92]         False         False
3     [7, 98]   [7, 98]          True          True
4     [6, 74]   [6, 73]         False          True
..        ...       ...           ...           ...
995   [1, 98]   [2, 17]         False          True
996  [42, 79]   [9, 80]         False         False
997  [57, 64]  [38, 59]         False         False
998  [31, 37]  [37, 72]         False         False
999  [21, 99]   [1, 25]         False         False

[1000 rows x 4 columns]